<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        display: flex;
        flex-direction: column;
      }
      .chapter {
        font-size: 32px;
        font-family: "Noto Sans KR", monospace, "Times New Roman", serif;
        line-height: 180%;
        color: #3b3b3b;
        text-align: left;
        margin: auto;
        width: 1170px;
      }

      .sprite-st {
        margin: 30px auto 0 auto;
      }

      .sprite-ed {
        margin: 0 auto 30px auto;
      }
    </style>
  </head>
  <body>
    <div class="chapter">${content}</div>
  </body>
</html>
